.card {
    width: 30vb;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45vh;
    box-shadow: 4px 4px 10px #727c8c;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.title {
    margin: 0.5rem;
    font-weight: bold;
    font-size: 2vh;
}

.body {
    margin: 0.5rem;
    font-weight: 100;
    font-size: 2vh;
}